@if(profesoriList && profesoriList.length>0){
   <div class="mat-elevation-z8 w-full">
    <div class="flex justify-end p-8"> <button class="bg-blue-500 hover:bg-blue-700 text-white-800 font-bold py-2 px-4 rounded inline-flex items-center">
      <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
      <span>Adauga</span>
    </button> </div>
 
    <table mat-table [dataSource]="profesoriList" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="id_prof">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id_prof}} </td>
        </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="nume">
                <th mat-header-cell *matHeaderCellDef> Nume </th>
                <td mat-cell *matCellDef="let element"> {{element.nume}} </td>
              </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="prenume">
                <th mat-header-cell *matHeaderCellDef> Prenume </th>
                <td mat-cell *matCellDef="let element"> {{element.prenume}} </td>
              </ng-container>

               <!-- Name Column -->
            <ng-container matColumnDef="patronimic">
                <th mat-header-cell *matHeaderCellDef> Patronimic </th>
                <td mat-cell *matCellDef="let element"> {{element.patronimic}} </td>
              </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="data_activarii">
                <th mat-header-cell *matHeaderCellDef> Data Activarii </th>
                <td mat-cell *matCellDef="let element"> {{element.data_activarii}} </td>
              </ng-container>
    
             <!-- Name Column -->
            <ng-container matColumnDef="end_data_activarii">
                <th mat-header-cell *matHeaderCellDef> Data Eliberarii </th>
                <td mat-cell *matCellDef="let element"> {{element.end_data_activarii }} </td>
              </ng-container>
    
           <!-- Name Column -->
            <ng-container matColumnDef="is_active">
                <th mat-header-cell *matHeaderCellDef> Este Activ </th>
                <td mat-cell *matCellDef="let element"> {{element.is_active }} </td>
              </ng-container>
    
                 <!-- Name Column -->
            <ng-container matColumnDef="functia">
                <th mat-header-cell *matHeaderCellDef> Functia </th>
                <td mat-cell *matCellDef="let element"> {{element.functia }} </td>
              </ng-container>

                    <!-- Name Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actiune </th>
              <td mat-cell *matCellDef="let element"> <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="edit(element.id_prof)">
                Editeaza
              </button>
                
            </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
}
  