<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <h1 class="opacity">Login</h1>
      <form>
        <input type="text" placeholder="Username" name="email" formControlName="Username" class="w-full"  />
        <small *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
          <div *ngIf="Username.errors?.['required']">Completati numele de autentificare.</div>
          <div *ngIf="Username.errors?.['username']">Numele trebuie sa fie valid.</div>
        </small>
        <input type="password" placeholder="Password" name="password" />
        <button class="opacity" (click)="onSubmit()">Log in</button>
      </form>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
