<div class="container">
    <a routerLink="/profesori" class="button type--A">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Profesori</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>
  
    <a routerLink="/grupe" class="button type--B">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Grupe</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>

    <a routerLink="/cabinete" class="button type--C">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Cabinete</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>
  </div>
  