<div class="container">
    <a routerLink="/orar" class="button type--A">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Orar</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>
  
    <a routerLink="/program" class="button type--B">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Plan</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>

    <a routerLink="/clock" class="button type--C">
      <div class="button__line"></div>
      <div class="button__line"></div>
      <span class="button__text">Ceas Analog</span>
      <div class="button__drow1"></div>
      <div class="button__drow2"></div>
    </a>
  </div>
  